{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block user_type %}
<!-- No user type on this page -->
{% endblock %}
{% block action_buttons %}
<!-- No action buttons on this page -->
{% endblock %}
{% block content %}
  
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mt-5 me-5 ms-5 mb-5">Create a New Collection</h2>
    <div>
        <a href="{% url 'collection_list' %}" class="btn btn-outline-dark me-5 mt-4">Back to Collection List</a>
    </div>
  </div>


  <form method="post" class="ms-5">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary mt-4">Create Collection</button>
  </form>
{% endblock %}
